---
self-contained: true
title: "Lab 3 - 12 Days of Christmas"
author: "Austin Liu"
format:
    html:
        theme: minty
---

# Data Import and Libraries

In [1]:
import pandas as pd
import re

xmas = pd.read_csv("https://www.dropbox.com/scl/fi/qxaslqqp5p08i1650rpc4/xmas.csv?rlkey=erdxi7jbh7pqf9fh4lv4cayp5&dl=1")
xmas

    Day Day.in.Words  Gift.Item        Verb Adjective        Location
0     1        first  partridge         NaN       NaN  in a pear tree
1     2       second       dove         NaN    turtle             NaN
2     3        third        hen         NaN    french             NaN
3     4       fourth       bird         NaN   calling             NaN
4     5        fifth       ring         NaN    golden             NaN
5     6        sixth      goose    a-laying       NaN             NaN
6     7      seventh       swan  a-swimming       NaN             NaN
7     8       eighth       maid   a-milking       NaN             NaN
8     9        ninth       lady     dancing       NaN             NaN
9    10        tenth       lord   a-leaping       NaN             NaN
10   11     eleventh      piper      piping       NaN             NaN
11   12      twelfth    drummer    drumming       NaN             NaN

## Function 1 Pluralize Gift

In [2]:
def pluralize_gift(gift):

    if gift.find("oo") == True:
        gift = gift.replace("oo", "ee")
    elif gift.endswith('y'):
        gift = gift[:-1] + 'ies'
    else:
        gift = gift + "s"

    return gift

### Test Function

In [3]:
# Should work
pluralize_gift("goose")

'geese'

In [4]:
pluralize_gift("lady")

'ladies'

In [5]:
# Will work if your function is vectorized! 
#pluralize_gift(xmas['Gift.Item'])

xmas['Gift.Item'].apply(pluralize_gift)

0     partridges
1          doves
2           hens
3          birds
4          rings
5          geese
6          swans
7          maids
8         ladies
9          lords
10        pipers
11      drummers
Name: Gift.Item, dtype: object

## Function 2 Make Phrase

In [6]:
def make_phrase(num, num_word, item, verb, adjective, location):
    num_wordmap = {
        1: "",
        2: "two",
        3: "three",
        4: "four",
        5: "five",
        6: "six",
        7: "seven",
        8: "eight",
        9: "nine",
        10: "ten",
        11: "eleven",
        12: "twelve"
    }
## Step 1: Replace NAs with blank strings
    if pd.isna(verb):
        verb = ""
    else:
        verb = verb
    if pd.isna(adjective):
        adjective = ""
    else:
        adjective = adjective
    if pd.isna(location):
        location = ""
    else:
        location = location

## Step 2: If the day number is larger than 1, the gift items need pluralized!
### Hint: call the function you created above!
    if not num == 1:
        item = pluralize_gift(item)
    else:
        pass

## Step 3: Figure out if a gift item starts with a vowel
## Step 4: For the first day, if the gift item starts with a vowel, 
#replace the day with "an" and if the gift item does not start with a vowel, 
#replace the day with "a" (e.g. a partridge in a pear tree). 
#If it is not the first day, use just the number word (e.g. ten lords a leap)    
   
#Assisted by GPT for Vowel Check
    start_word = ""
    num_word = num_wordmap[num]

    if num == 1:
        if re.match("^[aeiou]", item):
            start_word = "an"
        else:
            start_word = "a"
    

## Step 5: Put all of the pieces together into one string and return!

    return start_word + " " + num_word + " " + adjective + " " + item + " " + verb + " " + location

### Test Function

In [7]:
xmas["Full.Phrase"] = list(map(make_phrase, 
                               xmas["Day"], 
                               xmas["Day.in.Words"], 
                               xmas["Gift.Item"], 
                               xmas["Verb"],
                               xmas["Adjective"],
                               xmas["Location"]))

xmas

,Day,Day.in.Words,Gift.Item,Verb,Adjective,Location,Full.Phrase
0,1,first,partridge,NaN,NaN,in a pear tree,a partridge in a pear tree
1,2,second,dove,NaN,turtle,NaN,two turtle doves
2,3,third,hen,NaN,french,NaN,three french hens
3,4,fourth,bird,NaN,calling,NaN,four calling birds
4,5,fifth,ring,NaN,golden,NaN,five golden rings
5,6,sixth,goose,a-laying,NaN,NaN,six geese a-laying
6,7,seventh,swan,a-swimming,NaN,NaN,seven swans a-swimming
7,8,eighth,maid,a-milking,NaN,NaN,eight maids a-milking
8,9,ninth,lady,dancing,NaN,NaN,nine ladies dancing
9,10,tenth,lord,a-leaping,NaN,NaN,ten lords a-leaping
10,11,eleventh,piper,piping,NaN,NaN,eleven pipers piping
11,12,twelfth,drummer,drumming,NaN,NaN,twelve drummers drumming

## Function 3 Sing Day

In [8]:
def sing_day(dataset, num, phrase_col):
    num_wordmap = {
        1: "first",
        2: "second",
        3: "third",
        4: "fourth",
        5: "fifth",
        6: "sixth",
        7: "seventh",
        8: "eigth",
        9: "ninth",
        10: "tenth",
        11: "eleventh",
        12: "twelfth"
    }
  # Step 1: Setup the intro line
    num_word = num_wordmap[num] # convert "1" to "first" etc.
    intro = "On the " + num_word + " day of Christmas, my true love sent to me: \n"
  
  # Step 2: Sing the gift phrases
  # Hint: What order are they gifts sung in each day?
    gifts = ""
    
    for i in range(num, 0, -1):
        if i == 1:
            gifts = gifts + dataset[phrase_col][i-1] + ".\n"
        elif i == 2:
            gifts = gifts + dataset[phrase_col][i-1] + ", and\n "
        else:
            gifts = gifts + dataset[phrase_col][i-1] + ", \n"
  
  # Step 3: Put it all together and return
    result = intro + gifts
    result = result.replace("  ", " ")
    return print(result)

### Test Function

In [9]:
sing_day(xmas, 3, "Full.Phrase")

On the third day of Christmas, my true love sent to me:
 three french hens ,
 two turtle doves , and
 a  partridge in a pear tree.

In [10]:
nums = range(12, 0, -1)
song = map(lambda i: sing_day(xmas, i, "Full.Phrase"), nums)
print("".join(list(song)))

On the twelfth day of Christmas, my true love sent to me:
 twelve drummers drumming ,
 eleven pipers piping ,
 ten lords a-leaping ,
 nine ladies dancing ,
 eight maids a-milking ,
 seven swans a-swimming ,
 six geese a-laying ,
 five golden rings ,
 four calling birds ,
 three french hens ,
 two turtle doves , and
 a  partridge in a pear tree.

On the eleventh day of Christmas, my true love sent to me:
 eleven pipers piping ,
 ten lords a-leaping ,
 nine ladies dancing ,
 eight maids a-milking ,
 seven swans a-swimming ,
 six geese a-laying ,
 five golden rings ,
 four calling birds ,
 three french hens ,
 two turtle doves , and
 a  partridge in a pear tree.

On the tenth day of Christmas, my true love sent to me:
 ten lords a-leaping ,
 nine ladies dancing ,
 eight maids a-milking ,
 seven swans a-swimming ,
 six geese a-laying ,
 five golden rings ,
 four calling birds ,
 three french hens ,
 two turtle doves , and
 a  partridge in a pear tree.

On the ninth day of Christmas, my true love sent to me:
 nine ladies dancing ,
 eight maids a-milking ,
 seven swans a-swimming ,
 six geese a-laying ,
 five golden rings ,
 four calling birds ,
 three french hens ,
 two turtle doves , and
 a  partridge in a pear tree.

On the eigth day of Christmas, my true love sent to me:
 eight maids a-milking ,
 seven swans a-swimming ,
 six geese a-laying ,
 five golden rings ,
 four calling birds ,
 three french hens ,
 two turtle doves , and
 a  partridge in a pear tree.

On the seventh day of Christmas, my true love sent to me:
 seven swans a-swimming ,
 six geese a-laying ,
 five golden rings ,
 four calling birds ,
 three french hens ,
 two turtle doves , and
 a  partridge in a pear tree.

On the sixth day of Christmas, my true love sent to me:
 six geese a-laying ,
 five golden rings ,
 four calling birds ,
 three french hens ,
 two turtle doves , and
 a  partridge in a pear tree.

On the fifth day of Christmas, my true love sent to me:
 five golden rings ,
 four calling birds ,
 three french hens ,
 two turtle doves , and
 a  partridge in a pear tree.

On the fourth day of Christmas, my true love sent to me:
 four calling birds ,
 three french hens ,
 two turtle doves , and
 a  partridge in a pear tree.

On the third day of Christmas, my true love sent to me:
 three french hens ,
 two turtle doves , and
 a  partridge in a pear tree.

On the second day of Christmas, my true love sent to me:
 two turtle doves , and
 a  partridge in a pear tree.

TypeError: sequence item 0: expected str instance, NoneType found

## Use All functions!

In [18]:
xmas2 = pd.read_csv("https://www.dropbox.com/scl/fi/p9x9k8xwuzs9rhp582vfy/xmas_2.csv?rlkey=kvc3j3lmyn4opcidsrhcmrof1&dl=1")
xmas2

    Day Day.in.Words Gift.Item         Verb Adjective       Location
0     1        first     email          NaN       NaN  from Cal Poly
1     2       second     point          NaN      meal            NaN
2     3        third       pen          NaN      lost            NaN
3     4       fourth    review          NaN    course            NaN
4     5        fifth      exam          NaN  practice            NaN
5     6        sixth    grader      grading       NaN            NaN
6     7      seventh    senior    stressing       NaN            NaN
7     8       eighth       mom    a-calling       NaN            NaN
8     9        ninth     party      bumping       NaN            NaN
9    10        tenth      load   of laundry       NaN            NaN
10   11     eleventh    friend  goodbye-ing       NaN            NaN
11   12      twelfth      hour     sleeping       NaN            NaN

In [19]:
xmas2["Full.Phrase"] = list(map(make_phrase, 
                               xmas2["Day"], 
                               xmas2["Day.in.Words"], 
                               xmas2["Gift.Item"], 
                               xmas2["Verb"],
                               xmas2["Adjective"],
                               xmas2["Location"]))
xmas2

,Day,Day.in.Words,Gift.Item,Verb,Adjective,Location,Full.Phrase
0,1,first,email,NaN,NaN,from Cal Poly,an email from Cal Poly
1,2,second,point,NaN,meal,NaN,two meal points
2,3,third,pen,NaN,lost,NaN,three lost pens
3,4,fourth,review,NaN,course,NaN,four course reviews
4,5,fifth,exam,NaN,practice,NaN,five practice exams
5,6,sixth,grader,grading,NaN,NaN,six graders grading
6,7,seventh,senior,stressing,NaN,NaN,seven seniors stressing
7,8,eighth,mom,a-calling,NaN,NaN,eight moms a-calling
8,9,ninth,party,bumping,NaN,NaN,nine parties bumping
9,10,tenth,load,of laundry,NaN,NaN,ten loads of laundry
10,11,eleventh,friend,goodbye-ing,NaN,NaN,eleven friends goodbye-ing
11,12,twelfth,hour,sleeping,NaN,NaN,twelve hours sleeping

In [20]:
nums = range(12, 0, -1)
full_song = map(lambda i: sing_day(xmas2, i, "Full.Phrase"), nums)
print("".join(list(full_song)))

On the twelfth day of Christmas, my true love sent to me:
 twelve hours sleeping,
 eleven friends goodbye-ing,
 ten loads of laundry,
 nine parties bumping,
 eight moms a-calling,
 seven seniors stressing,
 six graders grading,
 five practice exams ,
 four course reviews ,
 three lost pens ,
 two meal points , and
 an  email from Cal Poly.

On the eleventh day of Christmas, my true love sent to me:
 eleven friends goodbye-ing,
 ten loads of laundry,
 nine parties bumping,
 eight moms a-calling,
 seven seniors stressing,
 six graders grading,
 five practice exams ,
 four course reviews ,
 three lost pens ,
 two meal points , and
 an  email from Cal Poly.

On the tenth day of Christmas, my true love sent to me:
 ten loads of laundry,
 nine parties bumping,
 eight moms a-calling,
 seven seniors stressing,
 six graders grading,
 five practice exams ,
 four course reviews ,
 three lost pens ,
 two meal points , and
 an  email from Cal Poly.

On the ninth day of Christmas, my true love sent to me:
 nine parties bumping,
 eight moms a-calling,
 seven seniors stressing,
 six graders grading,
 five practice exams ,
 four course reviews ,
 three lost pens ,
 two meal points , and
 an  email from Cal Poly.

On the eigth day of Christmas, my true love sent to me:
 eight moms a-calling,
 seven seniors stressing,
 six graders grading,
 five practice exams ,
 four course reviews ,
 three lost pens ,
 two meal points , and
 an  email from Cal Poly.

On the seventh day of Christmas, my true love sent to me:
 seven seniors stressing,
 six graders grading,
 five practice exams ,
 four course reviews ,
 three lost pens ,
 two meal points , and
 an  email from Cal Poly.

On the sixth day of Christmas, my true love sent to me:
 six graders grading,
 five practice exams ,
 four course reviews ,
 three lost pens ,
 two meal points , and
 an  email from Cal Poly.

On the fifth day of Christmas, my true love sent to me:
 five practice exams ,
 four course reviews ,
 three lost pens ,
 two meal points , and
 an  email from Cal Poly.

On the fourth day of Christmas, my true love sent to me:
 four course reviews ,
 three lost pens ,
 two meal points , and
 an  email from Cal Poly.

On the third day of Christmas, my true love sent to me:
 three lost pens ,
 two meal points , and
 an  email from Cal Poly.

On the second day of Christmas, my true love sent to me:
 two meal points , and
 an  email from Cal Poly.

On the first day of Christmas, my true love sent to me:
an  email from Cal Poly.

TypeError: sequence item 0: expected str instance, NoneType found